<div class="container" id="divBatchTransfers">
  <h3>BatchTransfers</h3>
  <p *ngIf="!batchTransfers"><em>Loading...</em></p>
  <div class="row">
    <div class="col-lg-12">


      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

      <div class="example-container mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="batchId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Batch Id </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.batchId}} </mat-cell>
          </ng-container>

          <!-- state -->
          <ng-container matColumnDef="state">
            <mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.state}} </mat-cell>
          </ng-container>

          <!-- currency -->
          <ng-container matColumnDef="settlement.currency">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Currency </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.settlement.currency}} </mat-cell>
          </ng-container>

          <!-- amount -->
          <ng-container matColumnDef="settlement.amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.settlement.amount}} </mat-cell>
          </ng-container>

          <!-- date -->
          <ng-container matColumnDef="settlement.date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ getDateInFormat(row.settlement.date) }} </mat-cell>
          </ng-container>

          <!-- creditor -->
          <ng-container matColumnDef="settlement.creditor">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Creditor </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ companyToStr(row.settlement.creditor) }} </mat-cell>
          </ng-container>

          <!-- debtor -->
          <ng-container matColumnDef="settlement.debtor">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Debtor </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ companyToStr(row.settlement.debtor) }} </mat-cell>
          </ng-container>

          <!-- to -->
          <ng-container matColumnDef="rates[0].to">
            <mat-header-cell *matHeaderCellDef mat-sort-header> To </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.rates[0].to}} </mat-cell>
          </ng-container>

          <!-- rate -->
          <ng-container matColumnDef="rates[0].rate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Rate </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.rates[0].rate}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header>  Action </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-menu #appMenu="matMenu">
                <button mat-menu-item (click)="actionTransferFunds(row)"> Transfer Funds</button>
                <button mat-menu-item (click)="actionCompleteSettlement(row)"> Complete Settlement </button>
              </mat-menu>

              <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>

