<div class="container" id="divTransactions">
  <h3>Transactions</h3>
  <p *ngIf="!dataSource"><em>Loading...</em></p>
  <div class="row">
    <div class="col-lg-12">


      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

      <div class="example-container mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="requestId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Request Id </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.requestId}} </mat-cell>
          </ng-container>

          <!-- fromCompany -->
          <ng-container matColumnDef="fromCompany">
            <mat-header-cell *matHeaderCellDef mat-sort-header> From Company </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{companyToStr(row.fromCompany) }} </mat-cell>
          </ng-container>

          <!-- toCompany -->
          <ng-container matColumnDef="toCompany">
            <mat-header-cell *matHeaderCellDef mat-sort-header> To Company </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{companyToStr(row.toCompany)}} </mat-cell>
          </ng-container>

          <!-- state -->
          <ng-container matColumnDef="state">
            <mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.state}} </mat-cell>
          </ng-container>

          <!-- currency -->
          <ng-container matColumnDef="details.currency">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Currency </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.details.currency}} </mat-cell>
          </ng-container>

          <!-- amount -->
          <ng-container matColumnDef="details.amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.details.amount}} </mat-cell>
          </ng-container>

          <!-- date -->
          <ng-container matColumnDef="details.date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ getDateInFormat(row.details.date) }} </mat-cell>
          </ng-container>

          <!-- description -->
          <ng-container matColumnDef="details.description">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.details.description}} </mat-cell>
          </ng-container>

          <!-- reasonsRejected -->
          <ng-container matColumnDef="details.reasonsRejected">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Reasons Rejected </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.details.reasonsRejected}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header>  Action </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-menu #appMenu="matMenu">
                <button mat-menu-item (click)="actionUpdateTrx(row)"> Update Transaction </button>
              </mat-menu>

              <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>

