<div class="container" id="divBatchTransferReq">
    <div class="row">
        <div class="col-md-12">
            <table id="batchtransfertequest_table" class="display" style="width:100%" hidden> </table>
        </div>
    </div>
</div>
