<div class="modal" id="divUpdateTrx">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">POST UpdateTransactionRequest</h4>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-lg-6" >
            <form style="margin-top:10px;">
                <div class="form-group">
                    <label for="requestUpdateId">Request Id</label>
                    <input type="text" class="form-control" id="requestUpdateId">
                </div>
                <div class="form-group">
                    <label for="stateUpdate">State</label>
                    <select class="form-control" id="stateUpdate">
                        <option value="APPROVED">APPROVED</option>
                        <option value="REJECTED">REJECTED</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="reasonsUpdateRejected">Reasons Rejected</label>
                    <input type="text" class="form-control" id="reasonsUpdateRejected">
                </div>
            </form>
            <div class="text-center">
                <button class="btn btn-primary btn-sx" style="margin-bottom:10px;" type="button" id="btnUpdateTrx">Confirm</button>
            </div>
        </div>
    </div>
</div>
