<div class="container" id="divTransactions" hidden>
    <div class="row">
        <div class="col-md-11">
            <table id="transactions_table"  class="display" style="width:100%"  hidden> </table>
        </div>
    </div>
</div>

