<div class="container">
    <div class="container" id="titles">
        <div class="row">
            <div class="col-md-6 col-xs-6"><h3 id="wallet">User: </h3></div>
            <div class="col-md-6 col-xs-6"> <h3 id="company" class="pull-right">Company: </h3></div>
        </div>
    </div>

    <div class="row" style="margin-top:5px;" id="hdButtons">
        <div class="col-xs-10 col-md-4 col-lg-4" style="margin-bottom:5px;"><button type="button" class="btn btn-primary" id="btnGetCompanies">GET Companies</button></div>
        <div class="col-xs-11 col-md-4 col-lg-4 text-center" style="margin-bottom:5px;" ><button type="button" class="btn btn-primary" id="btnGetTrxs">GET Transactions</button></div>
        <div class="col-xs-10 col-md-4 col-lg-4" style="margin-bottom:5px;"> <button type="button" class="btn btn-primary pull-right" id="btnGetBatchTransferRequest">Get BatchTransferRequest</button></div>
        
    </div>
</div>
<hr>
