<div class="container" id="divCompanies" hidden> 
    <div class="row">
        <div class="col-md-12">            
            <table id="companies_table" class="display" style="width:100%" hidden></table>
        </div>
    </div>
</div>

