<div class="container" id="divBatchTransferReq">
    <div class="row">
        <div class="table-responsive">
            <table id="batchtransfertequest_table" class="table table-striped table-bordered" style="width:100%" hidden> </table>
        </div>
    </div>
</div>
