<div class="container" id="divPrepareSett" hidden>
    <div class="row">
        <h3>POST PrepareSettlement</h3>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-lg-6" style=" border:1.5px groove #e7e8ec;border-radius: 8px;">
            <form style="margin-top:10px;">
                <div class="form-group">
                    <label for="batchIdPreSett">Batch Id</label>
                    <input type="text" class="form-control" id="batchIdPreSett">
                </div>
                <div class="form-group">
                    <label for="companyIdPreSett">Company Id</label>
                    <input type="text" class="form-control" id="companyIdPreSett">
                </div>

            </form>
            <div class="text-center">
                <button class="btn btn-primary btn-sx" style="margin-bottom:10px;" type="button" id="btnPreSett">Confirm</button>
            </div>
            
        </div>
    </div>
</div>
