<div class="container" id="divCompanies" hidden> 
    <div class="row">
        <div class="table-responsive">            
            <table id="companies_table" class="table table-striped table-bordered" style="width:100%" hidden></table>
        </div>
    </div>
</div>

