<div class="container" id="divCompanies"> 
    <div class="row">
        <div class="col-md-12">
            <table id="companies_table" class="table table-bordered table-striped" hidden>
                <thead class="thead-dark">

                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

