<div class="container" id="divTransactions" hidden>
    <div class="row">
        <div class="table-responsive">
            <table id="transactions_table"  class="table table-striped table-bordered" style="width:100%"  hidden> </table>
        </div>
    </div>
</div>

