<div class="container">
  <div class="container" id="titles">
    <div class="row">
      <div class="col-md-6 col-xs-6 text-left"><h3 id="wallet">User: </h3></div>
      <div class="col-md-6 col-xs-6 text-right"> <h3 id="company">Company: </h3></div>
    </div>
  </div>

  <div class="row" style="margin-top:5px;" id="hdButtons">
    <div class="col-xs-10 col-md-4 col-lg-4 text-left" style="margin-bottom:5px;"><button type="button" class="btn btn-primary" id="btnGetCompanies" (click)="toggleCompanies()">GET Companies</button></div>
    <div class="col-xs-11 col-md-4 col-lg-4 text-center" style="margin-bottom:5px;"><button type="button" class="btn btn-primary" id="btnGetTrxs" (click)="toggleTransactions()">GET Transactions</button></div>
    <div class="col-xs-10 col-md-4 col-lg-4 text-right" style="margin-bottom:5px;"> <button type="button" class="btn btn-primary pull-right" id="btnGetBatchTransferRequest" (click)="toggleBatchTransfers()">Get BatchTransferRequest</button></div>
    
  </div>

  <app-companies *ngIf="showCompanies"></app-companies>

  <app-transactions *ngIf="showTransactions"></app-transactions>

  <app-batchTransfers *ngIf="showBatchTransfers"></app-batchTransfers>
  


</div>
<hr>

