<div class="container" id="divCompanies">
  <h3>Companies</h3>
  <p *ngIf="!companies"><em>Loading...</em></p>
  <div class="row">
    <div class="col-lg-12">


      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

      <div class="example-container mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="companyId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.companyId}} </mat-cell>
          </ng-container>

          <!-- Name -->
          <ng-container matColumnDef="companyName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.companyName}} </mat-cell>
          </ng-container>

          <!-- Working Currency -->
          <ng-container matColumnDef="workingCurrency">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Working Currency </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.workingCurrency}} </mat-cell>
          </ng-container>

          <!-- Fund Balance -->
          <ng-container matColumnDef="fundBalance">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fund Balance </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.fundBalance}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header>  Action </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-menu #appMenu="matMenu">
                <button mat-menu-item (click)="toggleSubmitTrx(row, template)"> Submit Transaction</button>
                <button mat-menu-item (click)="actionPreSett(row)"> Prepare Settlement </button>
              </mat-menu>

              <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
  <div *ngIf="!showSubmitTrx" class="row">
    <div class="col-lg-12">
      <app-submitTrxs [toCompanyId]="toCompanyId" *ngIf="showSubmitTrxs"></app-submitTrxs>
    </div>
  </div>
</div>

