<div class="container" id="divSubmitTrxs">

  {{diagnostic}}
  <div class="form-group">
    <label for="name">requestId</label>
    <input type="text" class="form-control" id="requestId"
           required
           [(ngModel)]="model.requestId" name="requestId">
  </div>

  <div class="form-group">
    <label for="toCompanyId">toCompanyId</label>
    <input type="text" class="form-control" id="toCompanyId"
           [(ngModel)]="model.toCompanyId" name="toCompanyId">
  </div>

  <div class="form-group">
    <label for="currency">Hero Power</label>
    <select class="form-control" id="currency"
            required
            [(ngModel)]="model.currency" name="power">
      <option *ngFor="let cur of currencies" [value]="cur">{{cur}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="amount">amount</label>
    <input type="number" class="form-control" id="amount"
           [(ngModel)]="model.amount" name="amount">
  </div>

  <div class="form-group">
    <label for="description">description</label>
    <input type="text" class="form-control" id="description"
           [(ngModel)]="model.description" name="description">
  </div>

</div>

